.HashContainer {
  width: 100%;
  display: block;
  margin: 0 0 8px;
  overflow: hidden;
  
  .Hash {
    width: 100%;
    display: flex;
    grid-gap: 20px;
    padding: 8px;
    background-color: $background;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;

    .HashContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .HashTitle {
        margin-top: 10px;
        font-size: 14px;
        color: rgba($primary, 0.9);
      }
  
      .HashText {
        display: flex;
        align-items: center;
        margin-top: 2px;
        font-size: 12px;
        color: $semi-light;

        span {
          font-size: 10px;
          padding: 0 4px;
        }
      }
    }
  }
}