.HashContainer {
  width: 100%;
  display: block;
  margin: 0 0 16px;
  padding: 0 16px;
  overflow: hidden;
  
  .Hash {
    width: 100%;
    display: flex;
    grid-gap: 16px;
    padding: 16px;
    border: 1px solid $border-gray;
    background-color: $dark-gray;
    white-space: nowrap;
    border-radius: 10px;
    overflow: hidden;
    overflow-x: auto;

    .HashContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .HashTitle {
        margin-top: 4px;
        font-size: 14px;
        color: $primary;
      }
  
      .HashText {
        display: flex;
        align-items: center;
        margin-top: 2px;
        font-size: 12px;
        color: $semi-light;

        span {
          font-size: 10px;
          padding: 0 4px;
        }
      }
    }
  }
}