.PrimaryHeader {
  padding: 8px 12px;
  
  .MobileHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tp {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .logo {
    color: $primary;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }

  .ScreenHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .Container {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
}
