.CuratorListContainer {
  position: fixed;
  top: 70px;
  right: calc(50% - 720px);
}

.CuratorList {
  width: 320px;
  padding: 12px;
  border-radius: 10px;
  background-color: $content-background;

  .CuratorHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $light;
      border-radius: 100%;

      img {
        width: 15px;
        height: 15px;
      }
    }

    h1 {
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: $primary;
    }
  }

  .CuratorListContent {
    margin-top: 30px;

    > li {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
      font-size: 16px;
      font-weight: bold;
      color: $light;
      cursor: pointer;

      .TopRanking {
        color: $primary;
      }

      & + li {
        margin-top: 12px;
      }
    }
  }
}