.PostCategory {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .CategoryButton {
    font-size: 14px;
    padding: 18px 8px;
  }

  > button {
    color: $light-gray;
    text-align: center;
  }

  &.DeskCategory {
    margin-left: 40px;
    display: inline-flex;
    grid-gap: 40px;
    grid-template-columns: auto;

    .CategoryButton {
      padding: 0;
      font-size: 18px;
    }

    .FilterButton {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $light;
      border-radius: 8px;
    } 
  }
}