.ExtraPage {
  position: relative;
  display: flex;
  flex-direction: column;
  
  .ExtraPageHeader {
    position: sticky;
    top: 0;
    padding: 0 0 16px;
    display: flex;
    align-items: center;
    background: $background;
    z-index: 8;

    h1 {
      color: $light;
      font-size: 24px;
      font-weight: bold;

      &.ProfileTitle {
        padding-left: 8px;
      }
    }
  }

  .ExtraPagePost {
    overflow-y: auto;

    > div + div {
      margin-top: 16px;
    }
  }
}

.ExtraPageNullContent {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $light;
}