.Post {
  background-color: $dark-gray;
  list-style: none;
  width: 100vw;
  max-width: 720px;

  & + .Post {
    margin-top: 16px;
  }

  .BestPost {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 4px 12px;
    margin-bottom: 12px;
    align-items: center;
    color: $primary;
    border-bottom: 1px solid $border-gray;
    font-size: 14px;
  }

  &.DeskPost {
    padding: 16px 24px;
    border-radius: 10px;
    background-color: $content-background;

    .PostContentContainer {
      padding: 0;
    }

    .PostAction {
      padding: 4px 0 0px;
    }
  }

  .PostContentContainer {
    padding: 14px 12px 8px;
    
    .PostHeader {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
  
      .PostInfoContainer {
        display: grid;
        grid-template-columns: auto 1fr;
        flex: 1;
  
        .PostInfo {
          display: grid;
          grid-template-rows: 1fr auto;
          padding-left: 8px;
          align-items: center;
  
          h1 {
            font-size: 15px;
            font-weight: 500;
            color: $light;
          }
  
          p {
            display: inline-flex;
            align-items: center;
            grid-gap: 8px;
            font-size: 13px;
            color: $light-gray;
  
            .Bar {
              display: inline-block;
              width: 1px;
              height: 6px;
              background-color: $light-gray;
            }
          }
        }
      }
    }

    .PostContent {
      margin-top: 16px;
      color: $light;
      font-size: 16px;
    } 
  }

  .ImageContainer {
    width: 100%;
    margin-top: 12px;
    overflow-x: hidden;
  }
  
  .PostAction {
    padding: 4px 12px 14px;
    display: flex;
    justify-content: space-between;
    
    .PostReaction {
      display: flex;
      grid-gap: 8px;
      color: $light-gray;
      font-size: 12px;

      .LikedPost {
        color: $primary;
      }
    }
  
    .PostMenu {
      display: flex;
      grid-gap: 8px;
      align-items: center;
      justify-content: space-around;
    }
  }

  .PostCommentContainer {
    .InputCommentContainer {
      margin-top: 8px;
      padding: 12px;
      border-top: 1px solid $gray;
    }

    .AlertComment {
      margin-bottom: 12px;
      color: $semi-light;
    }

    .PostCommentList {
      padding: 12px;
      border-top: 1px solid $gray;
    }
  }
}

.HashContainer {
  margin: 20px 0 8px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8px;

  @media screen and (max-width: 1023px) {
    padding: 0 12px;
  }

  .Hash {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 25px;
    border: 1px solid $primary;
    color: $primary;
    cursor: pointer;
  }
}

.LastComment {
  margin-top: 16px;
  font-size: 14px;
  color: $semi-light;
}