.AppLayout {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  .Container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
    .ContentContainer {
      position: relative;
      min-width: 320px;
      max-width: 720px;
      margin: 0 auto;
    }
  }

  &.Mobile {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;

    .Container {
      padding-bottom: 56px;
      .ContentContainer {
        padding-bottom: 56px;
      }
    }

    .BottmNavigation {
      position: fixed;
      width: 100%;
      height: 56px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background-color: $background;
    }
  }
}