.ProfileContainer {
  .ButtonContainer, > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 20px;
  }

  .Username {
    color: $light;
  }
}

.NullAlert {
  margin-top: 80px;
  font-size: 16px;
  color: $light;
  text-align: center;
}

.NotificationButton {
  position: relative;
}

.AlertList {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  margin-top: 4px;
  padding: 8px;
  background-color: $content-background;
  border: 1px solid $border-gray;
  border-radius: 10px;
}