.MenuPopup {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-start;
  
  .MenuPopupContent {
    position: absolute;
    top: calc(100% - 16px);
    right: 0;
    width: 140px;
    margin-top: 4px;
    padding: 2px 0;
    background-color: $background-gray;
    border-radius: 5px;
    z-index: 18;
  }

  .MenuPopupContent {
    display: flex;
    flex-direction: column;
  }
}

.PopupItem {
  color: $light;
}
