.MenuPopup {
  position: relative;
  
  .MenuPopupContent {
    position: absolute;
    right: 0;
    width: 140px;
    margin-top: 8px;
    padding: 8px 0;
    background-color: $background-gray;
    border-radius: 5px;
    z-index: 3;
  }

  .MenuPopupContent {
    display: flex;
    flex-direction: column;
    
  }  
}

.PopupItem {
  color: $light;
}
