.GoogleButton {
  width: 100%;
  display: flex;
  padding: 16px 0;
  align-items: center;
  justify-content: center;
  color: $dark-gray;
  background-color: $light;
  border-radius: 10px;
  vertical-align: text-top;
  cursor: pointer;

  & > img {
    margin-right: 4px;
  }
}