$primary: #FFF200;
$background: #121212;
$disabled-background: #151515;
$dark-gray: #202020;
$button-background: #222222;
$content-background: #2B2B2B;
$gray: #353535;
$background-gray: #3C3C3C;
$border-gray: #3f3f3f;
$light-gray: #7D7D7D;
$gray-hover: #525252;
$disabled-color: #5d5d5d;
$light: #E3E3E3;
$semi-light: #C8C8C8;
$danger: #F33A3A;
$success: #304FF2;