@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "./variables";
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

* {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

html, body {
  position: relative;
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
  overflow: hidden;
  touch-action: none;
}

#__next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#wrapper {
  min-width: 280px;
  height: 100%;
  background-color: $background;
  
  &.sign {
    background-color: $dark-gray;
  }
}

.slick-arrow {
  position: absolute !important;
  top: 50%;
  width: 36px;
  height: 36px;
  z-index: 2;
  background-color: rgba($background, 0.6) !important;
  border-radius: 100% !important;

  img {
    height: 20px;
  }
  
  &::before {
    content: '';
  }

  &.slick-prev {
    left: 20px;
  }

  &.slick-next {
    right: 20px;
  }
}

.slick-track {
  display: flex !important;
  align-items: center !important;
}

.slick-dots {
  bottom: 20px;

  li {
    margin: 0px;
  }
}